body{
    font:15px Arial,Helvatica;
    margin: 0;
    padding: 0;
    background-color: #000;
}/*Estilos Globales*/

img{
    width: 200px;
}

.contenedor{
    width: 80%;
    margin: auto;
    clear: both;
}
.ul{
    margin: 0;
    padding: 0;
}
.boton1{
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right:20px;
    color :#fff;
}

/*Encabezado*/

header{
    background-color: #24282b;
    color: #fff;
    padding-top: 30px;
    padding-bottom: ;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
    clear: both;
}
header a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #marca{
    float: left;
    
}

header #marca h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .resaltado,header .actual a{
    color:#1293d4;
    font-weight: bold;
}

header a:hover
{
    color:#ccc;
    font-weight: bold;
}

.cabecera{
    min-height: 500px;
    background: url('../img/1.jpg')no-repeat ;
    text-align: center;
    background-size: cover;
    color: #fff;
}

.cabecera h1{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top:160px;
}


#boletin {
    padding: 15px;
    color: #fff;
    background: #24282b;
}

#boletin h1{
    float: left;
}
#boletin form{
    float: right;
    margin-top: 15px;
}


#boletin input[type ="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.cajas{
    margin-top: 20px;;
}
.cajas .caja{
    
    float: left;
    text-align: center;
    width:30%; 
    padding: 10px;
    
}

.caja img{
    width: 400px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #1293d4;
    text-align: center;
}

aside .lateral{
    float: right;
    width: 30%;
    margin-top: 10px;
}
.oscuro{
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

article .main-col{
    float: left;
    width: 65%;
}

/*footer */

.imgagen{
    width: 800px;
}














